.Navbar {
    height: auto;
    width: 101.5%;
    border-radius: 20px;
    box-shadow: #000000 4px 2px 8px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    margin-left: -2.2vw;
    margin-top: -4vh;
    background-color: #d7fdfd;
}

.Navbar a {
    color: #000000;
    font-size: 25px;
    font-family: Calibri;
    text-decoration: none;
    float: right;
    display: block;
    padding: 0px 15px;
    transition: 0.5s;
}/*links in the navbar*/

.Navbar a:hover{
    color: #7A89C2;
    font-size: 26px;
}

.Navbar .icon{
    display: none;
}

.Navbar .logo {
    font-size: 34px;
    color: #000000;
    float: left;
    font-weight: bold;
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: #000000;
    font-family: "Courier New";
    margin-top: 2vh;
}

.Navbar .logo:hover{
    font-size: 34px;
}

.Navbar .Nav_button{
    height: auto;
    width: auto;
    padding: 10px 10px;
    color: #EFF1F3;
    background-color: #0CCA4A;
    border-radius: 20px;
    border: solid #000000 2px;
}

.Navbar .Nav_button:hover{
    color: #000000;
}


@media screen and (max-width: 1180px) {
    .Navbar a:not(:first-child) {display: none;}
    .Navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 1180px) {
    .Navbar.responsive {position: relative;}
    .Navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #000000;
        z-index: 10;
    }
    .Navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .Navbar .logo{
        font-size: 2vh;
    }
    .Navbar a{
        font-size: 1.5vh;
    }
}